<div id="gitment-ctn"></div> 
<link rel="stylesheet" href="//imsun.github.io/gitment/style/default.css">
<script src="//imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: "<%=url%>",
  owner: '<%=theme.gitment_owner%>',
  repo: '<%=theme.gitment_repo%>',
  oauth: {
    client_id: '<%=theme.gitment_oauth.client_id%>',
    client_secret: '<%=theme.gitment_oauth.client_secret%>',
  },
})
gitment.render('gitment-ctn')
</script>
<style>
  .gitment-comment-main {
    background: white !important;
  }
  .gitment-editor-submit, .gitment-comments-init-btn, .gitment-comments-init-btn:disabled, .gitment-editor-submit:disabled {
    background-color: #c3b1b8 !important;
    border-radius: 5px !important;
  }
  a.gitment-editor-login-link {
    color: #666 !important;
  }
  a.gitment-header-issue-link {
    display: none !important;
  }
  .gitment-footer-container {
    display: none !important;
  }
  .gitment-editor-footer-tip:hover {
    color: #767CA8 !important;
  }
  .gitment-editor-body textarea:disabled {
    background-color: #E5E5E5;
  }
  @media (max-width:500px) {
    .gitment-editor-login {
      margin-top: unset !important;
    }
  }
</style>